{%  extends 'base.html.twig' %}

{% block h2 %}
    <br>
<h2>Créer une sortie</h2>
    <br>
{%  endblock %}

{% block add1 %}

<div class="formG">


    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
</div>

{% endblock %}
{% block add2 %}

<div class="formD">
    {{ form_start(sortieFormD) }}
    {{ form_widget(sortieFormD) }}
</div>
    <div>
    <br>
    <button id="btn_sr" class="btn btn-primary" type="submit">Créer une sortie</button>
    {{ form_end(sortieForm) }}
    {{ form_end(sortieFormD) }}
    </div>
    <br>
    <br>


{% endblock %}


