
{%  extends 'base.html.twig' %}

{% block main %}
<br>
<h2>Inscrivez-vous à la sortie</h2>
    <br>
    <div class="description">
        <br>
        {% if date(sortie.datedebut) <  date("- 30 days") %}
        <span class="archive">Sortie Archivée</span>
        <br>
        {% else %}
        {% if sortie.organisateur != app.user.username %}
            <p>Une sortie peut-être à tout moment annulée, nous vous conseillons donc de rester vigilant sur son actualitée, pour celà rapprochez-vous de l'organisateur de celle-ci.</p>
        {% else %}
            <button id="btn_enr" type="submit"><a id="btn_enr" href="{{ path('sortie_annule', {'id':sortie.id}) }}">Annuler la sortie</a></button>

        {% endif %}
        <p>{{ sortie.nom }}</p>
        <p>Date : {{ sortie.datedebut|date("d/m/Y") }}</p>
        <p>Fermeture des inscriptions : {{ sortie.datecloture|date("d/m/Y") }}</p>
        <p>Durée : {{ sortie.duree|date("H:i") }}</p>
        <p>Organisateur : {{ sortie.organisateur }}</p>
        <p>{{ sortie.descriptioninfos }}</p>
        <br>

        {% if sortie.datecloture <  date() %}
            <span class="cloture">Sortie Cloturée</span>
        {% else %}
            {% block btn %}
            <button id="btn_enr" type="submit"><a id="btn_enr" href="{{ path('sortie_index', {'id':sortie.id}) }}">S'inscrire à la sortie</a></button>
            {% endblock %}
        {% endif %}
        {% endif %}
        <br>
    </div>
    <br>
{% endblock %}
{% block add1 %}
    <br>
    <h2>Les Participants à la sortie : {{ sortie.nom }}</h2>
    <br>
    <br>
    <table class="table_sortie col-md-12">
        <thead>
        <tr>
            <th>Participants</th>
        </tr>
        </thead>
        <tbody>
        {% for inscription in inscription %}
            <tr>
                <td>{{ inscription.utilisateur }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
{% endblock %}
