<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset ("css/app.css") }}" >
        <link rel="icon" href="{{ asset('favicon.ico') }}" >
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <header class="text-center">
                        <!-- Intégration de la barre de navigatio -->
                        {% include ('inc/nav.html.twig') %}
                        <!--Change le h1 du home-->
                        {% block h1 %}<h1></h1>{% endblock %}
                        {% block h2 %}{% endblock %}
                        {% block modal %}{% endblock %}
                        {% for label, messages in app.flashes(['success', 'warning']) %}
                            {% for message in messages %}
                                <div class="flash flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- Utiliser en 2 part pour afficher plus agréablement tableau et profil-->
                </div>
                <div class="col-md-4">
                        {% block form_user %}{% endblock %}
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Utiliser en 2 part pour afficher plus agréablement tableau et profil-->
                    {% block add1 %}{% endblock %}
                </div>
                <div class="col-md-6">
                    {% block add2 %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block main %}
                        <main>

                        </main>
                    {% endblock %}
                    <!--Utiliser pour les grds tablo ou texte info exx annuler une sortie-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="imghome" src="{{ asset('img/left.png') }}" alt="sortie" align="center">
                </div>
                <div class="col-md-4">
                    <!--Affiche les differents main par rapport aux differentes routes-->
                {%  block mainhome %}
                {% endblock %}
                    <img class="imghome" src="{{ asset('img/mid.png') }}" alt="sortie" align="center">
                </div>
                <div class="col-md-4">
                    <img class="imghome" src="{{ asset('img/right.png') }}" alt="sortie" align="center">
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12">
                    <footer class="text-center">{{ "now"|date("Y") }}&copy;AB-Corp</footer>
                </div>
            </div>
        </div>
        <!--Script en cours d'utilisation-->
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
