<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <img class="icon" rel="icon" alt="icon" src="{{ asset('favicon.ico') }}"><a  id="blaze" class="navbar-brand" >Sortir.com | Portes</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="hlimk" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted ('ROLE_ADMIN')%}
                <li class="nav-item">
                    <a id="nav_link" class="nav-link" href="{{ path('register') }}">Enregistrer un nouveau membre</a></li>
                {% endif %}
                <li class="nav-item">
                    <a id="nav_link" class="nav-link" href="{{ path('sortie_list') }}">| Sortie</a></li>

                <li class="nav-item">
                    <a id="nav_link" class="nav-link" href="{{ path('sortie_add') }}">| Ajouter une sortie</a></li>
            {% else %}
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
                <a id="profil" class="link" href="{{ path('profil') }}">Mon Profil &nbsp;   </a></li>
            {% if is_granted ('ROLE_ADMIN')%}
            <li class="nav-item">
                <a id="admin" class="link" href="{{ path('admin_home') }}">Administration &nbsp;   </a></li>
            {% endif %}
            <li class="nav-item">
                <a id="logout" class="link" href="{{ path('logout') }}">Se déconnecter</a></li>
            {% else %}
            {% endif %}
        </form>
    </div>
</nav>
{% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
    {% else %}
    {%  block h2 %}
        {% if 'login' in app.request.attributes.get("_route") %}
            {% else %}
            <a id="porte" href="{{ path('login') }}">|>>   Porte d'entrer   <<|</a>
            {% endif %}
    {% endblock %}
{% endif %}