<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <img class="icon" rel="icon" alt="icon" src="{{ asset('favicon.ico') }}"><a  id="blaze" class="navbar-brand" >Sortir.com | Portes</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted ('ROLE_ADMIN')%}
                <li class="nav-item">
                    <a id="nav_link" class="nav-link" href="{{ path('register') }}">Enregistrer un nouveau membre</a></li>
                {% endif %}
                <li class="nav-item">
                    <a id="nav_link" class="nav-link" href="{{ path('sortie_list') }}">| Sortie</a></li>
                <li class="nav-item">
                    <a id="nav_link" class="nav-link" href="{{ path('logout') }}">| Se déconnecter</a></li>
                <li class="nav-item">
                    <a id="nav_link" class="nav-link" href="{{ path('sortie_add') }}">| Ajouter une sortie</a></li>
            {% else %}
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{%  block h2 %}
    {% if 'login' in app.request.attributes.get("_route") %}
    {% else %}
    <a id="porte" href="{{ path('login') }}">|>>   Porte d'entrer   <<|</a>
    {% endif %}
{% endblock %}